<style>

  a.nav_link:link {
    color: #999;
    text-decoration: none;
    font-weight: bold;
  }
  a.nav_link:visited {
    color: #999;
  }
  a.nav_link:hover {
    color:black;
  }

  .flash_good {
    color: green;
  }
  .flash_bad {
    color: red;
  }

</style>

<% if flash.has?(:message) %>
  <%= "<h3 class=#{flash[:message]}</h3>" %>
<% end %>

<h1>Create a New Library!</h1>

<form action="/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" placeholder="Name of your library">
  <label for="password">Password: </label>
  <input type="password" name="password">
  <input type="submit" value="Create Library">
</form>

<br><a href="/login" class="nav_link">OR LOG IN!</a>
