<h1>Create a New Library!</h1>

<form action="/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" placeholder="Name of your library">
  <label for="password">Password: </label>
  <input type="password" name="password">
  <input type="submit" value="Create Library">
</form>

<br><a href="/login">Or Log In!</a>
