<style>

  a.nav_link:link {
    color: #999;
    text-decoration: none;
    font-weight: bold;
  }
  a.nav_link:visited {
    color: #999;
  }
  a.nav_link:hover {
    color:black;
  }

</style>


<h1>Log In to View Your Library</h1>

<form action="/login" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username">
  <label for="password">Password: </label>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form>

<br><a href="/signup" class="nav_link">OR SIGN UP!</a>
