<h1>Your Books</h1>

<ul><% @books.each do |book| %>
  <li><a href="/lib/book/<%= book.id %>" style="color: black; text-decoration: none"><%= book.title %> - <%= book.topic.name %></a></li>
<% end %></ul>

<br>
<a href="/lib/new">Add More Books</a><br>
<a href="/logout">Log Out</a>
