<h1>Start building your library!</h1>

<form action="/lib" method="post">
  
  <!--book-->
  <input type="text" name="book[title]">
  <input type="text" name="book[auther]">
  <input type="text" name="book[topic]">

  <!--case-->
  <input type="text" name="case[name]">
  <input type="text" name="case[description]">
  <input type="number" name="case[shelf_count]">

  <!--room-->
  <input type="text" name="room[name]">

</form>



<a href="/logout">Log Out</a>
